
background {
	url(histcrownsplash.jpg)
}
<h1>Explore historic Crown Heights</h1>

<form method="POST" action="/session">
  <label for="name">Enter User Name</label>
  <input type="text" name="user_name" id="name" /><br/>
  <label for="password">Enter Password</label>
  <input type="password" name="password" id="password"><br/>
  <input type="submit" value="Login" />
</form>
 