<form action="/stories" method="POST">
  <label for="new_story">title:</label>
  <input type="text" name="story[title]" id="story_title">
  <label for="story_body">story:<label>
  <input type="text area" name="story[:body]" id="story_body"
  <input type="submit" value="Add Story">
</form>